<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        AlgebraKiT NodeJS Demo
    </title>
</head>

<body class="container">

    <h1>Earned <%= score.scoring.marksEarned %> out of <%= score.scoring.marksTotal %> marks</h1>

    <pre>
        <code>
            <%= JSON.stringify(score, null, 2) %>
        </code>
    </pre>

</body>

</html>